<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">

        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<div class="container home-signup-links">

<div class="home-callout text-center container-fluid">
</div>
<br>
<br>
