<div class="container">
  <div class="row">
    <div class="text-center">
        <h3>List all of our users.</h3>
        <br>
        <div class="text-center col-md-4">
        <%= link_to "My Profile", user_path(current_user.id), class: 'btn btn-default btn-lg btn-block'%>
      </div>
    </div>
  </div>
</div>
