<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class=text-center>
      <h1>Poll everyone, everywhere about everything!</h1>
      <p>
      Our mission is backed with honesty and integrity. We allow
      our guests to create polls for any topic of their choosing. Other registered guests
      can then vote on the topic with their opinion. Topics will trend upwards
      and the world will have a wholistic idea of how the mass population feels
      about a topic. Poll will then take that data and provide in depth
      charts and graphs on the demographic of all the votes. Our goal is to provide a
      visual of this data to paint a picture of where opinions derive from.
      </p>
    </div>
  </div>
</div>
