<div class= "container center-text">
  <div class= "text-center">
  <h1>Welcome to Poll! </h1>
  <h3>A site that gathers opinions.</h3>
</div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="center-text">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4 class="text-center">Sign up for a free account!</h4>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan), class: 'btn btn-info btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <div class="center-text">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4 class="text-center">Sign up for the pro account for $10/month and get access premium content!</h4>
      <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
 </div>
</div>
<%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>
