<div class= "container center-text">
  <h1 class= "text-center">Welcome from our home page.</h1>
    <div class="text-center">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
      <%= link_to "Sign Up for Free", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-default navbar-btn" %>
    </div>
  </div>
</div>
