<div class ="row">
  <div class="col-md-6 col-md-offset-3">
    <div class ="well">
      <h1 class="text-center">Create a multiple choice Poll</h1>

      <%= render 'choiceform', link: @link %>

      <%= link_to 'Back', new_link_path %>
    </div>
  </div>
</div>
