<% @links.each do |link| %>
  <div class="link row clearfix, container">
    <div class ="well col-md-8 col-md-offset-3">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by </small>
    </h2>
</div>
</div>
  <% end %>
