// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 {
  font-family: 'Open Sans', sans-serif;
}

#details {
      height: 400px;
      overflow: auto;
      margin: 0;
  }
  #community {
        height: 1000px;
        overflow: auto;
        margin: 0;
    }

profile-container {
  max-width:300px;
}

#content {
    height: 100%;
}
#left {
    float: left;
    width: 20%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
#middle {
    float: left;
    width: 50%;
    height: 500px;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
